@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Light.ttf") format("truetype");
  font-weight: 300;
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Regular.ttf") format("truetype");
  font-weight: 400;
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Medium.ttf") format("truetype");
  font-weight: 500;
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Bold.ttf") format("truetype");
  font-weight: 700;
}
@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-VariableFont_slnt,wght.ttf") format("truetype");
}
/**Variable font**/
/**Media Queries**/
@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Light.ttf") format("truetype");
  font-weight: 300;
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Regular.ttf") format("truetype");
  font-weight: 400;
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Medium.ttf") format("truetype");
  font-weight: 500;
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Bold.ttf") format("truetype");
  font-weight: 700;
}
@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-VariableFont_slnt,wght.ttf") format("truetype");
}
/**Variable font**/
/**Media Queries**/
@media (min-width: 1440px) {
  .container {
    max-width: 1200px;
  }
}
/*Reset CSS*/
body {
  font-family: "Roboto", sans-serif;
  color: #000;
  background: #fff;
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
  overflow-x: hidden;
}

:root {
  --violet-light: #e8e8ef;
  --violet-light-hv: #dddce7;
  --violet-light-ac: #b9b7ce;
  --violet: #1d1761;
  --violet-hv: #1a1557;
  --violet-ac: #17124e;
  --violet-dark: #161149;
  --violet-dark-hv: #110e3a;
  --violet-dark-ac: #0d0a2c;
  --violet-darker: #0A0822;
  --red: #ee2e24;
  --red-hv: #d62920;
  --red-ac: #be251d;
  --grey: #cccccc;
  --grey-hv: #b8b8b8;
  --grey-ac: #a3a3a3;
  --grey-light: #fafafa;
  --grey-light-hv: #f7f7f7;
  --grey-light-ac: #efefef;
  --neutural: #787878;
  --neutural-hv: #6c6c6c;
  --neutural-ac: #606060;
  --neutural-dark: #5a5a5a;
  --neutural-dark-hv: #484848;
  --neutural-dark-ac: #363636;
}

.container {
  padding-left: 10px;
  padding-right: 10px;
}

.row {
  margin-right: -10px;
  margin-left: -10px;
}

.row > * {
  padding-right: 10px;
  padding-left: 10px;
}

h1 {
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 0;
}

h2 {
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 0;
}

h3 {
  font-size: 16px;
  font-weight: 700;
  line-height: 1.5;
  margin-bottom: 0;
}

h4 {
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 0;
}

p {
  margin-bottom: 0;
}

a {
  text-decoration: none;
  color: #000;
  transition: all 0.5s ease;
}
a:-webkit-any-link:focus-visible {
  outline: none;
}
a:-webkit-any-link:focus {
  outline: none;
}
a:hover {
  color: var(--violet-hv);
}
a:active {
  color: var(--violet-ac);
}

ul,
li {
  padding-left: 0;
  list-style: none;
  margin-bottom: 0;
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
}
input:focus-visible,
textarea:focus-visible,
select:focus-visible {
  outline: none;
}
input::-webkit-inner-spin-button, input::-webkit-outer-spin-button,
textarea::-webkit-inner-spin-button,
textarea::-webkit-outer-spin-button,
select::-webkit-inner-spin-button,
select::-webkit-outer-spin-button {
  -webkit-appearance: none;
  appearance: none;
}
input::-ms-reveal,
textarea::-ms-reveal,
select::-ms-reveal {
  display: none;
}

input[type=checkbox] {
  width: 19px;
  height: 19px;
  border-radius: 4px;
  border: 1px solid #000;
  vertical-align: middle;
  appearance: none;
  cursor: pointer;
}
input[type=checkbox]:checked {
  position: relative;
}
input[type=checkbox]:checked:before {
  position: absolute;
  content: "";
  background: url("../image/icons/checked.svg") no-repeat var(--violet);
  background-position: center center;
  width: 100%;
  height: 100%;
  display: flex;
  border-radius: 4px;
  justify-content: center;
  align-items: center;
  top: 0;
}

.checkbox {
  position: relative;
  width: 19px;
  height: 19px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.checkbox input[type=checkbox] {
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  width: 100%;
  height: 100%;
}
.checkbox .checkmark {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 19px;
  height: 19px;
  border-radius: 3px;
  border: 1px solid #000;
}
.checkbox .checkmark svg g path {
  fill: #fff;
}

.checkbox:has(input[type=checkbox]:checked) .checkmark {
  width: 19px;
  height: 19px;
  background-color: var(--violet);
  border-color: var(--violet);
}

button {
  background: transparent;
  border: none;
  color: #000;
}

.btn {
  display: inline-flex;
  align-items: center;
  font-size: 14px;
  justify-content: center;
  transition: all 0.35s ease;
}

.bg-violet-light {
  background-color: var(--violet-light);
  transition: all 0.35s ease;
}
.bg-violet-light:hover {
  background-color: var(--violet-light-hv);
}

.cl-violet {
  color: var(--violet);
  transition: all 0.35s ease;
}
.cl-violet:hover {
  color: var(--violet-hv);
}

.clear-input {
  display: none;
  position: absolute;
  top: 50%;
  cursor: pointer;
  right: 20px;
  transform: translate(50%, -50%);
  width: 16px;
  height: 16px;
  overflow: hidden;
}

img {
  max-width: 100%;
  object-fit: cover;
}

.block-heading .title {
  font-size: 20px;
  font-weight: 700;
  line-height: 1.2;
}

.pagination {
  display: flex;
  justify-content: center;
  gap: 15px;
}
.pagination .pagination-btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  color: var(--violet);
  background-color: var(--violet-light);
  font-weight: 700;
  border-radius: 50%;
  transition: all 0.35s ease;
}
.pagination .pagination-btn:hover, .pagination .pagination-btn.active {
  background: var(--violet);
  color: #fff;
}
.pagination .pagination-next, .pagination .pagination-prev {
  background-color: #fff;
  transition: all 0.35s ease;
}
.pagination .pagination-next:hover, .pagination .pagination-prev:hover {
  background-color: var(--violet);
}
.pagination .pagination-next:hover svg path, .pagination .pagination-prev:hover svg path {
  fill: #fff;
}
.pagination .pagination-next svg path, .pagination .pagination-prev svg path {
  transition: all 0.35s ease;
}

.product-item {
  background-color: #fff;
  border-radius: 12px;
  transition: all 0.35s ease;
}
.product-item:hover {
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.05);
}
.product-item .product-image {
  position: relative;
  display: block;
  overflow: hidden;
  margin-bottom: 6px;
  border-radius: 12px;
  aspect-ratio: 1;
  overflow: hidden;
}
.product-item .product-image img {
  width: 100%;
  transition: all 0.35s ease;
}
.product-item .product-image:hover img {
  transform: scale(1.05);
}
.product-item .product-info {
  padding: 14px;
}
.product-item .product-name {
  color: var(--violet-dark-ac);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.4em;
  transition: all 0.35s ease;
  height: 36px;
  margin-bottom: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  white-space: unset;
}
.product-item .product-name:hover {
  text-decoration: underline;
}
.product-item .product-price {
  position: relative;
  display: flex;
  align-items: center;
  column-gap: 22px;
  flex-wrap: wrap;
}
.product-item .product-price .price-current {
  color: var(--violet);
  font-size: 16px;
  line-height: 1.5;
  font-weight: 700;
}
.product-item .product-price .price-old {
  font-size: 18px;
  line-height: 1.8;
  color: var(--neutural);
}
.product-item .product-price .discount {
  position: absolute;
  right: 0;
  top: 5px;
  right: 0;
  width: fit-content;
  color: var(--red);
  font-size: 12px;
  font-weight: 700;
}
.product-item .promotion {
  color: var(--neutural-dark-hv);
  font-size: 10px;
  line-height: 2.4em;
  margin-bottom: 10px;
}
.product-item .promotion span {
  font-weight: 700;
  color: #000;
}
.product-item .product-action {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.product-item .product-action .rating {
  font-size: 10px;
  color: var(--violet);
  line-height: 2em;
}
.product-item .product-action .rating .star {
  color: #1D1761;
}
.product-item .add-cart {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  column-gap: 9px;
  background-color: var(--grey-light-ac);
  color: var(--violet);
  font-size: 10px;
  line-height: 2em;
  font-weight: 700;
  transition: all 0.35s ease;
}
.product-item .add-cart:hover {
  background-color: var(--violet);
  color: #fff;
}
.product-item .add-cart:hover img {
  filter: invert(1);
}
.product-item .add-cart img {
  transition: all 0.35s ease;
}

.blog-item {
  border-radius: 12px;
  background-color: #fff;
  border: 1px solid var(--violet-light);
  transition: all 0.35s ease;
}
.blog-item:hover {
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.05);
}
.blog-item .blog-image {
  position: relative;
  display: block;
  overflow: hidden;
  cursor: pointer;
  border-radius: 12px;
  aspect-ratio: 418/226;
}
.blog-item .blog-image img {
  transition: all 0.35s ease;
  height: 100%;
  width: 100%;
}
.blog-item .blog-image:hover img {
  transform: scale(1.05);
}
.blog-item .blog-post {
  font-size: 12px;
  line-height: 1.5;
  padding: 8px 12px;
  border-radius: 50px;
  background-color: var(--violet-light);
  color: var(--violet);
  transition: all 0.35s ease;
}
.blog-item .blog-info {
  padding: 20px 28px 20px 22px;
}
.blog-item .blog-name {
  font-size: 16px;
  color: var(--violet-darker);
  font-weight: 700;
  line-height: 1.5em;
  height: 46px;
  margin-bottom: 8px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  white-space: unset;
}
.blog-item .blog-name:hover {
  text-decoration: underline;
}
.blog-item .blog-des {
  color: var(--neutural-dark);
  line-height: 1.5;
  overflow: hidden;
  margin-bottom: 24px;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  white-space: unset;
}
.blog-item .blog-action {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.blog-item .blog-action .blog-post {
  display: inline-flex;
  align-items: center;
  column-gap: 12px;
  line-height: 1.5;
  color: var(--neutural-dark);
}
.blog-item .blog-action .blog-post img {
  flex: 0 0 24px;
  max-width: 24px;
}
.blog-item .blog-action .view-more {
  display: inline-flex;
  align-items: center;
  column-gap: 25px;
  font-weight: 700;
  color: var(--violet);
  line-height: 1.5;
}
.blog-item .blog-action .view-more img {
  flex: 0 0 7px;
  max-width: 7px;
}

.swiper-button-prev:after,
.swiper-button-next:after {
  font-size: 0;
}

.swiper-circle {
  width: 45px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
  background: #fff;
  transition: all 0.3s ease;
}
.swiper-circle img {
  width: 9px;
  transition: all 0.3s ease;
}
.swiper-circle:hover img {
  filter: invert(1);
}

.form-row {
  display: flex;
  row-gap: 22px;
  column-gap: 28px;
  flex-wrap: wrap;
}

.form-line {
  position: relative;
  flex: 0 0 calc(50% - 14px);
  max-width: calc(50% - 14px);
}
.form-line label {
  display: block;
  font-size: 12px;
  margin-bottom: 8px;
  color: #000;
  line-height: normal;
}
.form-line input,
.form-line textarea,
.form-line select {
  font-weight: 500;
  width: 100%;
  border: 1px solid var(--grey-light-ac);
  border-radius: 12px;
  padding: 20px 50px 18px 20px;
  color: #000;
  font-size: 14px;
  line-height: 1.2em;
}
.form-line input::placeholder,
.form-line textarea::placeholder,
.form-line select::placeholder {
  color: var(--neutural);
  font-weight: 400;
  font-size: 14px;
}
.form-line input:focus,
.form-line textarea:focus,
.form-line select:focus {
  border: 1px solid #000;
}
.form-line select {
  appearance: none;
}
.form-line .input-select label {
  position: absolute;
  top: 6px;
  left: 20px;
  font-size: 10px;
  color: #000;
  text-transform: initial;
}
.form-line .input-select select {
  background: url("../image/icons/select.svg") no-repeat center right 23px;
}
.form-line .input-select select option {
  color: #000;
}
.form-line textarea {
  height: 134px;
  resize: none;
}
.form-line:focus-within .clear-input {
  display: inline-flex;
}
.form-line:focus-within .password-input {
  display: inline-flex;
}

.form-line-full {
  max-width: 100%;
  flex: 0 0 100%;
}
.form-line-full input {
  accent-color: #000;
}

@media (min-width: 1200px) {
  /* width */
  ::-webkit-scrollbar {
    width: 8px;
  }
  /* Track */
  ::-webkit-scrollbar-track {
    background: var(--grey-light);
    border-radius: 8px;
  }
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: var(--violet);
    border-radius: 8px;
  }
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: var(--violet-darker);
  }
}
@media only screen and (max-width: 767.98px) {
  .pagination-wrap {
    justify-content: center;
  }
  .pagination-wrap .pagination-text {
    display: none;
  }
}
@media only screen and (max-width: 576.98px) {
  .block-heading {
    margin-bottom: 27px;
  }
  .block-heading .title {
    font-size: 18px;
    line-height: 1.2;
  }
  .btn {
    font-size: 10px;
    line-height: 2em;
  }
  .product-item:hover {
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.05);
  }
  .product-item .product-image {
    margin-bottom: 5px;
  }
  .product-item .product-info {
    padding: 10px;
  }
  .product-item .product-name {
    margin-bottom: 5px;
  }
  .product-item .product-price {
    margin-bottom: 10px;
  }
  .product-item .product-price .discount {
    order: 2;
  }
  .product-item .promotion {
    display: none;
  }
  .product-item .add-cart {
    border-radius: 50%;
  }
  .product-item .add-cart span {
    display: none;
  }
}
@media only screen and (max-width: 375.98px) {
  .form-row .form-line {
    max-width: 100%;
    flex: 0 0 100%;
  }
  .pagination .pagination-btn {
    font-size: 12px;
    line-height: 18px;
    width: 32px;
    height: 32px;
  }
}