.page404 {
  width: 100%;
  min-height: 100vh;
  background-color: $primary;
  color: white;
  .page404-cloud {
    width: 100%;
    height: 148px;
    margin-bottom: 84px;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .page404-wrapper {
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    max-width: 1352px;
    margin-left: auto;
    margin-right: auto;
  }
  .page404-main {
    max-width: 627px;
    h1 {
      font-weight: 700;
      font-size: 200px;
      line-height: 1.16;
      margin-bottom: 4px;
    }
    h2 {
      font-weight: 700;
      font-size: 36px;
      line-height: 1.222;
      font-style: italic;
      margin-bottom: 10px;
    }
    p {
      font-weight: 500;
      font-size: 24px;
      margin-bottom: 40px;
    }
    a {
      width: fit-content;
      display: block;
      font-weight: 600;
      font-size: 16px;
      line-height: 1.1875;
      padding: 20px 118px;
      border-radius: 400px;
      overflow: hidden;
      background-color: white;
      color: #2f2f75;
      &:hover {
        background-color: #f0f0f0;
      }
    }
  }
  .page404-img {
    margin-top: 41px;
    width: 46.967%;
  }
}

@include desktop {
  .page404 {
    .page404-main {
      max-width: 50%;
    }
  }
}
@include tablet {
  .page404 {
    .page404-wrapper {
      justify-content: center;
    }
    .page404-main {
      text-align: center;
      max-width: 100%;
      a {
        margin-left: auto;
        margin-right: auto;
      }
    }
    .page404-img {
      display: none;
    }
  }
}
@include landscape-phone {
  .page404 {
    .page404-main {
      h1 {
        font-size: 120px;
      }
      h2 {
        font-size: 24px;
      }
      p {
        font-size: 14px;
      }
      a {
        padding: 15px 70px;
      }
    }
  }
}
