footer {
    background: $primary;
    padding: 54px 0 26px;
    color: #fff;

    .logo {
        display: block;
        margin-bottom: 20px;
        max-width: 203px;

        img {
            filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(7500%) hue-rotate(332deg) brightness(103%) contrast(106%);
        }
    }

    .footer-main {
        display: flex;
        column-gap: 99px;
        row-gap: 23px;
        justify-content: space-between;
    }

    .footer-company {
        padding-top: 10px;
        flex: 1;

        h4 {
            margin-bottom: 10px;
        }

        p {
            color: #FFF;
            line-height: 26px; 
            margin-bottom: 23px;
            max-width: 374px;
        }
    }

    .footer-social {
        display: flex;
        column-gap: 47px;
        flex-wrap: wrap;

        img {
            transition: all 0.3s ease;
        }

        a {
            &:hover {
                img {
                    filter: brightness(5);
                }
            }
        }
    }

    .footer-info {
        flex: 0 0 26.64%;
        max-width: 26.64%;

        .footer-info-item {
            display: flex;
            column-gap: 11px;
            margin-bottom: 10px;

            &:last-child {
                margin-bottom: 0;
            }
        }

        .footer-info-icon {
            flex: 0 0 17px;
            max-width: 17px;
            margin-top: 4px;
        }

        p, a {
            line-height: 26px;
        }
    }

    .footer-links {
        flex: 0 0 21.56%;
        max-width: 21.56%;
        column-count: 2;
        column-gap: 25%;

        a {
            display: block;
            font-size: 12px;
            font-weight: 600;
            letter-spacing: 1.2px;
            text-transform: uppercase;
            margin-bottom: 30px;
        }
    }

    h4 {
        color: #FFF;
        font-weight: 600;
        line-height: 15px;
        letter-spacing: 4.2px;
        text-transform: uppercase;
        margin-bottom: 18px;
    }

    a {
        color: #fff;

        &:hover {
            color: #fff;
            text-decoration: underline;
        }
    }

    p {
        color: #fff;
    }

    .copyright {
        text-align: center;
        font-weight: 300;
        padding-top: 30px;
        border-top: 1px solid #224370;
        margin-top: 32px;
    }
}

@include tablet {
    footer {
        .logo {
            margin-bottom: 30px;
        }

        .footer-main {
            flex-wrap: wrap;
            column-gap: 60px;
        }

        .footer-company {
            flex: 0 0 calc(55% - 30px);
            max-width: calc(55% - 30px);
            margin-bottom: 16px;

            p {
                margin-bottom: 23px;
            }
        }

        .footer-info {
            flex: 0 0 calc(45% - 30px);
            max-width: calc(45% - 30px); 
        }

        .footer-links {
            flex: 0 0 100%;
            max-width: 100%;
            column-count: initial;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            gap: 20px;
            padding-top: 25px;
            border-top: 1px solid #224370;

            a {
                margin-bottom: 0;
            }
        }

        .copyright {
            margin-top: 20px;
        }
        

        h4 {
            margin-bottom: 18px;
        }
    }
}

@include landscape-phone {
    footer {
        .footer-company {
            flex: 0 0 100%;
            max-width: 100%;

            p {
                max-width: initial;
            }
        }

        .footer-info {
            flex: 0 0 100%;
            max-width: 100%;
        }

        h4 {
            font-size: 14px;
        }
    }
}


@include extra-mobile {
    footer {
        padding: 41px 0 17px;
    }
}