
/*Header*/
header {
  background: $primary;
}

.header-top {
  background: #fff;
  padding: 15px 0 17px;

  .header-top-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 11.72%;
  }

  .logo {
    flex: 0 0 22.58%;
    max-width: 22.58%;
  }

  .header-info {
    display: flex;
    justify-content: space-between;
    flex: 1;
    max-width: 65.7%;
    margin-top: 4px;
  }

  .header-info-item {
    display: flex;
    column-gap: 19px;
    flex: 0 0 max-content;
    max-width: 318px;

    .header-info-icon {
      flex: 0 0 20px;
      max-width: 20px;
      margin-top: 4px;
    }

    .header-info-content {
      flex: 1;
      max-width: calc(100% - 39px);

      p {
        display: block;
        color: $primary;
        font-weight: 600;
        line-height: 20px;
      }

      a {
        margin-bottom: 8px;          
        display: block;
        color: $primary;
        font-weight: 600;
        line-height: normal;

        &:nth-child(2) {
          margin-bottom: 0;
        }

        &:hover {        
          text-decoration: underline;
        }
      }
    }
  }
}

.header-logo-mb {
  display: none;
}

.header-main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 48px;
  padding: 7px 0 5px;
}


.language {
  flex: 0 0 114px;
  max-width: 114px;
  position: relative;

  .language-button {
      display: flex;
      align-items: center;
      gap: 9px;
      width: 100%;
      color: #000000;
      font-size: 12px;
      letter-spacing: 2.4px;
      justify-content: flex-end;

      img {
          width: 17px;
          height: 17px;
          flex: 0 0 17px;
      }

      span {
        color: #fff;
        font-size: 12px;
        font-weight: 600;
        letter-spacing: 2.4px;
        text-transform: uppercase;
      }

      svg {
        flex: 0 0 8px;
        max-width: 8px;
      }
  }
}

.box-select-language {
  position: absolute;
  top: 31px;
  right: -0;
  border-radius: 5px;
  padding: 10px 15px;
  background: #fff;
  width: 180px;
  filter: drop-shadow(0px 4px 20px rgba(0, 0, 0, 0.25));
  opacity: 0;
  visibility: hidden;
  transform: translateY(30px);
  z-index: 9;
  transition: all 0.5s ease;

  &:before {
    content: '';
    position: absolute;
    top: 1px;
    right: 55px;
    width: 22px;
    height: 13px;
    border-color: transparent transparent #fff transparent;
    border-width: 7px 11px;
    border-style: solid;
    transform: translate(50%, -100%);
  }

  &.active {
      opacity: 1;
      visibility: visible;
      transform: translateY(0px);  
  }

  .language-item {
      display: block;
      cursor: pointer;
      font-size: 12px;
      font-weight: 600;
      letter-spacing: 2.4px;
      border-bottom: 1px solid transparent;
      transition: all 0.3s ease;
      margin-bottom: 10px;

      &:hover {
          padding-left: 5px;
      }

      img {
        width: 17px;
        height: 17px;
        margin-right: 6px;
      }

      span {
        vertical-align: middle;
      }
  }

  input {
      width: 0;
      height: 0;
      opacity: 0;
      visibility: hidden;
  }
}

.header-nav {
  flex: 1;

  .nav-list {
    display: flex;
    column-gap: 6.7%;
    align-items: center;

    .nav-list-lv0 {
      position: absolute;
      top: 40px;
      left: 50%;
      filter: drop-shadow(0px 4px 10px rgba(0, 0, 0, 0.25));
      border-radius: 5px;
      z-index: 3;
      background: #fff;
      width: max-content;
      padding: 25px 16px 23px 20px;
      visibility: hidden;
      opacity: 0;
      transform: translate(-50%, 20px);
      transition: all 0.5s ease;

      &:before {
        content: '';
        position: absolute;
        left: 50%;
        top: 0;
        transform: translate(-50%, -100%);
        border-style: solid;
        border-width: 5px 7px;
        border-color: transparent transparent #fff transparent;
        z-index: 2;
      }

      &:after {
        content: '';
        position: absolute;
        left: 50%;
        top: 0;
        transform: translate(-50%, -100%);
        width: 100%;
        height: 15px;
        z-index: 1;
      }


      li {
        padding: 10px 0;
        transition: color 0.5s ease;

        &:hover {
          border-bottom: 1px solid #cccccc;
        }

        .nav-item {
          &:hover {
            text-decoration: none;
            color: $primary;

            &:before {
              content: none;
            }
          }
        }
      }

      li:last-child {
        border: none;
      }
    }

    .nav-list-image {
      text-align: center;
      padding: 6px 15px 33px 11px;

      li {
        padding: 13px 0;

        &:hover {
          padding: 13px 0;
          border-bottom: 0;
        }

        img {
          max-height: 38px;
        }
      }
    }

    li {
      position: relative;

      &:hover {
        .nav-list-lv0 {
          visibility: visible;
          opacity: 1;
          transform: translate(-50%, 0px);
        }
      }
    }
  }

  .nav-item {
    &:hover {
      .nav-link {
        color: #F58352;
      }
    }

    .nav-link {
      position: relative;
      color: #FFF;
      font-size: 12px;
      font-weight: 600;
      letter-spacing: 2.4px;
      text-transform: uppercase;
      padding: 10px 0;
      transition: all 0.3s ease;

      &.active {
        color: #F58352;
      }
    }
  }

  .header-logo {
    flex: 0 0 208px;
    text-align: center;
    margin-top: -20px;
  }
}



.nav-link-bold {
  font-weight: 600;
  color: $primary !important;
  transition: all 0.3s ease;
}

@include desktop {
  .header-top {
    .header-info-item {
      max-width: 220px;

      .header-info-content {
        p {
          font-size: 12px;
        }

        a {
          font-size: 12px;
          margin-bottom: 3px;
        }
      }
    }
  }

  .header-nav {
    .nav-list {
      column-gap: 4.5%;
    }
  }
}

@include tablet {
  .header-top {
    padding: 20px 0 15px;

    .header-top-wrap {
      align-items: center;
    }

    .header-info {
      display: none;
    }

    .logo {
      flex: 0 0 172px;
      max-width: 172px;
  }
  }

  .header-bottom {
    display: none;
  }

  .menumobile {
    width: calc(100% - 40px) !important;
    max-width: 350px;
    padding: 20px 20px 20px 15px;

    .menumobile-head {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;
      column-gap: 20px;
      row-gap: 30px;

      .logo {
        flex: 0 0 55%;
        max-width: 172px;
      }
    }

    & + .offcanvas-backdrop {
      background-color: transparent;
    }
    
    .offcanvas-body {
      margin-top: 21px;
      padding: 0;
    }

    .language {
      .language-button {
        span {
          color: #000;
          font-weight: 400;
        }
      }
    }

    .nav-mobile {
      .nav-item {
        position: relative;
        padding: 20px 0px;
        
        a {
          display: block;
          text-transform: uppercase;
          font-size: 12px;
          font-weight: 500;
          letter-spacing: 2.4px;
        }
      }

      li:last-child {
        border: none;
      }
    }

    .btn-close {
      right: -30px;
      position: absolute;
      top: 21px;
      border-radius: 0;
      height: 27px;
      width: 23px;
      background: #fff;
      opacity: 1;
      border: 1px solid #d2d2d2;
  
      &:before {
        content: '';
        position: absolute;
        left: -5px;
        top: 0;
        height: 100%;
        width: 10px;
        background: #fff;
      }
    }

    .nav-list {
      .nav-list-lv0 {
        margin: 30px 0 8px;

        .nav-item {
          padding: 13px 15px;
          text-transform: initial;
          font-weight: 400;
        }
        
        .nav-list-lv1 {
          list-style: none;
          padding: 5px 0 0 15px;

          li {
            list-style: none;
            border: none;
          }
        }
      }

      .nav-list-image {
        .nav-item {
          padding: 13px 0;
        }
      }

      .close-sub-nav {
        position: absolute;
        top: 12px;
        right: 0px;
        padding: 10px 0 10px 20px;

        img {
          width: 13px;
        }

        img:nth-child(1) {
          display: none;
        }
      }

      .close-sub-nav.collapsed {
        img:nth-child(1) {
          display: block !important;
        }
        img:nth-child(2) {
          display: none;
        }
      }
    }

    .header-info {
      display: block;
      max-width: initial;
      margin-top: 20px;
      padding-top: 40px;
      border-top: 1px solid #D9D9D9;
  
      .header-info-item {
        margin-bottom: 19px;
        max-width: initial;

        &:last-child {
          margin-bottom: 0;
        }
  
        .header-info-content {
          max-width: initial;

          p, a {
            font-size: 14px;
          }
        }
      }
    }
  }

  .language {
    flex: 1;
  }

}

