// START LIST PRODUCT
.list-product {
  margin-bottom: 177px;
  h2 {
    font-weight: 800;
    font-size: 36px;
    line-height: 1.8333;
    text-align: center;
    margin-bottom: 17px;
  }
  .list-product-category {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    column-gap: 50px;
    row-gap: 10px;
    padding: 0 21px;
    border-bottom: 1px solid #d9d9d9;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 54px;
    a {
      white-space: nowrap;
      flex-shrink: 0;
      display: block;
      padding-top: 10px;
      padding-bottom: 16px;
      font-weight: 500;
      font-size: 12px;
      letter-spacing: 0.2em;
      text-transform: uppercase;
      color: #979797;
      transition: all 0.8s cubic-bezier(0.215, 0.61, 0.355, 1);
      position: relative;
      &::after {
        content: "";
        position: absolute;
        z-index: 2;
        bottom: -2px;
        left: 0;
        width: 0;
        height: 4px;
        background-color: $primary;
        display: block;
        transition: all 0.8s cubic-bezier(0.215, 0.61, 0.355, 1);
      }
      &:hover,
      &.active {
        font-weight: 700;
        color: $primary;
        &::after {
          width: 100%;
        }
      }
    }
  }
  .list-product-wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 32px;
    row-gap: 50px;
    padding-bottom: 52px;
    border-bottom: 1px solid #e9e9e9;
    margin-bottom: 42px;
  }
}

.list-pagination {
  gap: 16px;
  .page-link {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    overflow: hidden;
    border-color: #bebebe;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: $primary;
    padding: 0;
    background: transparent;
    transition: all 0.4s ease-in-out;
    img,
    svg {
      width: auto;
      height: auto;
      max-width: 100%;
      max-height: 100%;
    }
    &:hover,
    &.active {
      background-color: $primary;
      color: white;
      svg,
      img {
        filter: brightness(0) saturate(100%) invert(99%) sepia(99%) saturate(2%)
          hue-rotate(211deg) brightness(111%) contrast(100%);
      }
    }
  }
  span.page-link,
  .page-link.page-link-none {
    border-color: transparent;
    color: black;
    &:hover {
      background: transparent;
      color: black;
    }
  }
  .page-item {
    &.active {
      .page-link {
        background-color: $primary;
        color: white;
        svg,
        img {
          filter: brightness(0) saturate(100%) invert(99%) sepia(99%)
            saturate(2%) hue-rotate(211deg) brightness(111%) contrast(100%);
        }
      }
    }
  }
}
// END LIST PRODUCT

// RESPONSIVE
@include tablet {
  .list-product {
    margin-bottom: 80px;
    h2 {
      font-size: 30px;
    }
    .list-product-wrapper {
      grid-template-columns: repeat(2, 1fr);
      column-gap: 20px;
    }
  }
}
@include landscape-phone {
  .list-product {
    h2 {
      font-size: 24px;
    }
    .list-product-row {
      overflow: hidden;
    }
    .list-product-category {
      width: 100%;
      justify-content: start;
      flex-wrap: nowrap;
      overflow-x: scroll;
      overflow-y: hidden;
      margin-left: 0;
      margin-right: 0;
      gap: 24px;
      margin-bottom: 32px;
      a {
        padding-bottom: 10px;
      }
    }
  }
  .list-pagination {
    gap: 12px;
    .page-link {
      width: 32px;
      height: 32px;
    }
  }
}
