// START PRODUCT DETAIL
.detail {
  margin-top: 77px;
  .detail-heading {
    margin-bottom: 56px;
    h3 {
      font-weight: 400;
      font-size: 14px;
      line-height: 15px;
      letter-spacing: 0.3em;
      text-transform: uppercase;
      color: #979797;
      margin-bottom: 5px;
    }
    h1 {
      font-weight: 700;
      font-size: 48px;
      line-height: 1.5;
      text-transform: capitalize;
      color: #272727;
    }
  }
  .detail-main {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    gap: 32px;
    margin-bottom: 91px;
  }
  .detail-wrapper {
    width: 52.5862%;
    flex-shrink: 0;
  }
  .detail-thumb {
    width: 100%;
    aspect-ratio: 610 / 735;
    height: fit-content;
    background: #f7f8fa;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 39px;
  }
  .detail-thumb-item {
    width: 100%;
    height: 100%;
    img {
      width: 100%;
      height: 100%;
    }
  }
  .detail-img {
    width: 100%;
  }
  .detail-img-item {
    width: 78px;
    height: 78px;
    border-radius: 10px;
    overflow: hidden;
    opacity: 0.6;
    cursor: pointer;
    transition: opacity 0.5s ease-in-out;
    &.swiper-slide-thumb-active {
      opacity: 1;
      border: 2px solid black;
    }
  }
  .detail-side {
    width: 100%;
    h3 {
      font-weight: 600;
      font-size: 24px;
      line-height: 1.25;
      text-transform: uppercase;
      color: $primary;
      margin-bottom: 10px;
    }
    p {
      font-size: 18px;
      line-height: 1.66667;
      margin-bottom: 25px;
    }
  }
  .detail-card {
    padding: 25px;
    border-radius: 10px;
    overflow: hidden;
    border: 1px solid #e1e1e1;
    margin-bottom: 28px;
  }
  .detail-contact {
    padding: 25px;
    border-radius: 10px;
    overflow: hidden;
    background-color: #f9f9f9;
  }
  .detail-describe {
    margin-bottom: 97px;
  }
  .detail-tabs {
    margin-bottom: 53px;
    display: flex;
    gap: 60px;
    border-color: #efefef;
    .nav-link {
      padding: 10px 0;
      border: none;
      background: transparent;
      font-weight: 500;
      font-size: 16px;
      line-height: 19px;
      letter-spacing: 0.05em;
      color: #616161;
      text-transform: uppercase;
      position: relative;
      &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        height: 3px;
        display: block;
        width: 0;
        background: $primary;
        transition: all 0.8s cubic-bezier(0.215, 0.61, 0.355, 1);
      }
      &:hover,
      &.active {
        font-weight: 600;
        color: black;
        &::after {
          width: 100%;
        }
      }
    }
  }
  .detail-content {
    p,
    h3,
    h4,
    h5,
    h6 {
      font-size: 16px;
      line-height: 2.1875;
      letter-spacing: 0;
      margin-bottom: 0;
    }
    h3 {
      font-weight: 600;
    }
    h4,
    h5 {
      font-weight: 500;
    }
    img {
      width: auto;
      height: auto;
      max-width: 100%;
      margin: 36px 0;
    }
  }
}
// END PRODUCT DETAIL

// START PRODUCT RELATED
.related {
  margin-bottom: 109px;
  h2 {
    font-size: 36px;
    margin-bottom: 50px;
  }
  .related-main {
    position: relative;
  }
  .related-slider-prev,
  .related-slider-next {
    top: 35%;
    width: 23px;
    &::after {
      content: none;
    }
    img {
      width: auto;
      height: auto;
      max-width: 100%;
      filter: brightness(0) saturate(100%) invert(0%) sepia(15%) saturate(7488%)
        hue-rotate(31deg) brightness(113%) contrast(96%);
    }
  }
  .related-slider-prev {
    left: -70px;
  }
  .related-slider-next {
    right: -70px;
  }
}
// END PRODUCT RELATED

// RESPONSIVE
@include large-desktop {
  .related {
    .related-slider-prev {
      left: -40px;
    }
    .related-slider-next {
      right: -40px;
    }
  }
}
@include desktop {
  .related {
    .related-slider-prev,
    .related-slider-next {
      width: 18px;
    }
    .related-slider-prev {
      left: -30px;
    }
    .related-slider-next {
      right: -30px;
    }
  }
}
@include tablet {
  .detail {
    margin-top: 48px;
    .detail-heading {
      margin-bottom: 32px;
      h3 {
        font-size: 12px;
        margin-bottom: 0;
      }
      h1 {
        font-size: 30px;
      }
    }
    .detail-main {
      flex-direction: column;
      gap: 48px;
      margin-bottom: 48px;
    }
    .detail-thumb {
      margin-bottom: 24px;
    }
    .detail-wrapper {
      width: 100%;
    }
    .detail-tabs {
      overflow-x: auto;
      overflow-y: hidden;
      flex-wrap: nowrap;
      gap: 32px;
      margin-bottom: 24px;
      .nav-link {
        font-size: 14px;
        flex-shrink: 0;
        white-space: nowrap;
      }
    }
    .detail-content {
      p,
      h3,
      h4,
      h5,
      h6 {
        font-size: 14px;
      }
      img {
        margin: 24px 0;
      }
    }
    .detail-describe {
      margin-bottom: 48px;
    }
  }
  .related {
    margin-bottom: 48px;
    h2 {
      font-size: 30px;
      margin-bottom: 32px;
    }
    .related-slider-prev,
    .related-slider-next {
      display: none;
    }
  }
}
@include landscape-phone {
  .detail {
    .detail-heading {
      h1 {
        font-size: 24px;
      }
    }
    .detail-side {
      h3 {
        font-size: 18px;
        margin-bottom: 5px;
      }
      p {
        font-size: 16px;
        margin-bottom: 15px;
      }
    }
    .detail-card,
    .detail-contact {
      padding: 24px 16px;
    }
  }
  .btn-submit {
    font-size: 16px;
    line-height: 20px;
    padding: 15px;
  }
  .contact-form {
    &.detail-form {
      button[type="submit"] {
        margin-top: 20px;
      }
    }
  }
  .related {
    h2 {
      font-size: 24px;
    }
  }
}
