@import "./variable";

//***Base Css***//

/*Reset CSS*/
body {
  font-family: $font-roboto;
  color: #000;
  background: #F7F7F7;
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
  overflow-x: hidden;
}

:root {
  --violet-light: #e8e8ef;
  --violet-light-hv: #dddce7;
  --violet-light-ac: #b9b7ce;

  --violet: #1d1761;
  --violet-hv: #1a1557;
  --violet-ac: #17124e;

  --violet-dark: #161149;
  --violet-dark-hv: #110e3a;
  --violet-dark-ac: #0d0a2c;

  --violet-darker: #0A0822;

  --red: #ee2e24;
  --red-hv: #d62920;
  --red-ac: #be251d;

  --red-light: #fdeae9;
  --red-light-hv: #fce0de;
  --red-light-ac: #fabebb;

  --grey: #cccccc;
  --grey-hv: #b8b8b8;
  --grey-ac: #a3a3a3;

  --grey-light: #fafafa;
  --grey-light-hv: #f7f7f7;
  --grey-light-ac: #efefef;

  --grey-darker: #474747;

  --neutural: #787878;
  --neutural-hv: #6c6c6c;
  --neutural-ac: #606060;

  --neutural-light: #f2f2f2;
  --neutural-light-hv: #ebebeb;
  --neutural-light-ac: #d5d5d5;

  --neutural-dark: #5a5a5a;
  --neutural-dark-hv: #484848;
  --neutural-dark-ac: #363636;
  --neutural-darker: #2a2a2a;
}

.container {
  padding-left: 10px;
  padding-right: 10px;
}

.row {
  margin-right: -10px;
  margin-left: -10px;
}

.row > * {
  padding-right: 10px;
  padding-left: 10px;
}

h1 {
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 0;
}

h2 {
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 0;
}

h3 {
  font-size: 16px;
  font-weight: 700;
  line-height: 1.5;
  margin-bottom: 0;
}

h4 {
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 0;
}

p {
  margin-bottom: 0;
}

a {
  text-decoration: none;
  color: #000;
  transition: all 0.5s ease;

  &:-webkit-any-link:focus-visible {
    outline: none;
  }

  &:-webkit-any-link:focus {
    outline: none;
  }

  &:hover {
    color: var(--violet-hv);
  }

  &:active {
    color: var(--violet-ac);
  }
}

ul,
li {
  padding-left: 0;
  list-style: none;
  margin-bottom: 0;
}

input,
textarea,
select {
  &:focus {
    outline: none;
  }

  &:focus-visible {
    outline: none;
  }

  &::-webkit-inner-spin-button,
  &::-webkit-outer-spin-button {
    -webkit-appearance: none;
    appearance: none;
  }

  &::-ms-reveal {
    display: none;
  }
}

input[type="checkbox"] {
  width: 19px;
  height: 19px;
  border-radius: 4px;
  border: 1px solid #000;
  vertical-align: middle;
  appearance: none;
  cursor: pointer;

  &:checked {
    position: relative;
    &:before {
      position: absolute;
      content: "";
      background: url("../image/icons/checked.svg") no-repeat var(--violet);
      background-position: center center;
      width: 100%;
      height: 100%;
      display: flex;
      border-radius: 4px;
      justify-content: center;
      align-items: center;
      top: 0;
    }
  }
}

.checkbox {
  position: relative;
  width: 19px;
  height: 19px;
  display: flex;
  justify-content: center;
  align-items: center;

  input[type="checkbox"] {
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    width: 100%;
    height: 100%;
  }

  .checkmark {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 19px;
    height: 19px;
    border-radius: 3px;
    border: 1px solid #000;

    svg g path {
      fill: #fff;
    }
  }
}

.checkbox:has(input[type="checkbox"]:checked) .checkmark {
  width: 19px;
  height: 19px;
  background-color: var(--violet);
  border-color: var(--violet);
}

button {
  background: transparent;
  border: none;
  color: #000;
}

.btn-main {
  display: inline-flex;
  align-items: center;
  font-size: 14px;
  justify-content: center;
}

.bg-violet {
  color: #fff;
  background-color: var(--violet);
  transition: all 0.35s ease;

  &:hover {
    background-color: var(--violet-hv);
    color: #fff;
  }
}

.bg-violet-light {
  color: var(--violet);
  background-color: var(--violet-light);
  transition: all 0.35s ease;

  &:hover {
    background-color: var(--violet-light-hv);
    color: var(--violet-hv);
  }
}

.bg-linear {
  color: #fff;
  background-image: linear-gradient(90deg, var(--violet) 30%, var(--red) 70%);
  background-size: 250%;
  background-position: center left -120%;
  transition: all 0.35s ease; 

  &:hover {
    background-position: center left 0%;
    color: #fff;
  }
}

.cl-violet {
  color: var(--violet);
  transition: all 0.35s ease;

  &:hover {
    color: var(--violet-hv);
  }
}

img {
  max-width: 100%;
  object-fit: cover;
}

.block-heading {
  .title {
    font-size: 20px;
    font-weight: 700;
    color: var(--violet);
    line-height: 1.2;
  }
}

.pagination {
  display: flex;
  justify-content: center;
  gap: 15px;

  .pagination-btn {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color: var(--violet);
    background-color: var(--violet-light);
    width: 40px;
    height: 40px;
    font-weight: 700;
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.35s ease;

    &:hover,
    &.active {
      background: var(--violet);
      color: #fff;
    }
  }

  .pagination-next, .pagination-prev {
    background-color: #fff;
    transition: all 0.35s ease;

    &:hover {
      background-color: var(--violet);

      svg path {
        fill: #fff;
      }
    }
    
    svg path {
      transition: all 0.35s ease;
    }
  }
}

.view-more {
  display: inline-flex;
  align-items: center;
  column-gap: 12px;
}

.product-item {
  background-color: #fff;
  border-radius: 12px;
  transition: all 0.35s ease;

  &:hover {
    box-shadow: 0 0 20px 0 rgba(#000, 0.05);
  }

  .product-image {
    position: relative;
    display: block;
    overflow: hidden;
    margin-bottom: 6px;
    border-radius: 12px;
    aspect-ratio: 1;
    overflow: hidden;

    a {
      display: inline-block;
    }

    img {
      width: 100%;
      transition: all 0.35s ease;
    }

    &:hover {
      img {
        transform: scale(1.05);
      }
    }

    .favorite {
      position: absolute;
      right: 13px;
      top: 14px;
      height: 23px;
      width: 23px;
      background-color: var(--violet-light);
      border-radius: 50%;
      text-align: center;
      line-height: 23px;
      cursor: pointer;
      transition: all 0.35s ease;

      &:hover {
        background-color: var(--violet-light-hv);
      }

      &.liked {
        background-color: var(--violet);

        img {
          filter: brightness(20);
        }
      }


      img {
        transform: none;
        width: 12px;
      }
    }

    .tags {
      position: absolute;
      font-size: 12px;
      color: #fff;
      font-weight: 500;
      padding: 5px 9px 4px;
      top: 14px;
      left: 14px;
      border-radius: 50px;

      &.pre-order {
        background-color: var(--red-hv);
      }
    }
  }

  .product-info {
    padding: 14px;
  }

  .product-name {
    margin-bottom: 10px;

    a {
      color: var(--violet-dark-ac);
      font-size: 14px;
      font-weight: 400;
      line-height: 1.4em;
      transition: all 0.35s ease;
      height: 36px;

      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2;
      white-space: unset;
    }
    

    &:hover {
      a {
        text-decoration: underline;
      }
    }
  }

  .product-price {
    position: relative;
    display: flex;
    align-items: center;
    column-gap: 22px;
    flex-wrap: wrap;

    .price-current {
      color: var(--violet);
      font-size: 16px;
      line-height: 1.5;
      font-weight: 700;
    }

    .price-old {
      font-size: 10px;
      color: var(--neutural);
    }

    .discount {
      position: absolute;
      right: 0;
      top: 5px;
      right: 0;
      width: fit-content;
      color: var(--red);
      font-size: 12px;
      font-weight: 700;
    }
  }

  .promotion {
    color: var(--neutural-dark-hv);
    font-size: 10px;
    line-height: 2.4em;
    margin-bottom: 10px;

    span {
      font-weight: 700;
      color: #000;
    }
  }

  .product-action {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .rating {
    display: inline-flex;
    align-items: center;
    gap: 3px;
    font-size: 10px;
    color: var(--violet);
    line-height: 2em;

    .star {
      color: #1D1761;
    }

    svg {
      width: 9px;
      height: initial;
    }
  }

  .sold {
    color: var(--neutural-dark);
    font-size: 12px;
    text-align: right;
  }

  .add-cart {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    column-gap: 9px;
    background-color: var(--grey-light-ac);
    color: var(--violet);
    padding: 5px 14px;
    font-size: 10px;
    line-height: 2em;
    font-weight: 700;
    border-radius: 50px;
    transition: all 0.35s ease;

    &:hover {
      background-color: var(--violet);
      color: #fff;

      img {
        filter: invert(1);
      }
    }

    img {
      transition: all 0.35s ease;
    }
  }

}

.product-item-grid {
  display: flex;
  align-items: center;
  gap: 16px;

  .product-image {
    flex: 0 0 38.4%;
    max-width: 38.4%;
    margin-bottom: 0;
  }

  .product-info {
    padding: 5px 10px 5px 0;
  }

  .product-name {
    margin-bottom: 0;

    a {
      -webkit-line-clamp: 4;
      line-height: 19px;
      height: 74px;
    }
  }
}

.blog-item {
  border-radius: 12px;
  background-color: #fff;
  border: 1px solid var(--violet-light);
  transition: all 0.35s ease;

  &:hover {
    box-shadow: 0 0 20px 0 rgba(#000, 0.05);
  }

  .blog-image {
    position: relative;
    display: block;
    overflow: hidden;
    cursor: pointer;
    border-radius: 12px;
    aspect-ratio: 418/226;

    img {
      transition: all 0.35s ease;
      height: 100%;
      width: 100%;
    }

    &:hover {
      img {
        transform: scale(1.05);
      }
    }
  }

  .blog-post {
    position: absolute;
    top: 15px;
    left: 24px;
    font-size: 12px;
    line-height: 1.5;
    padding: 8px 12px;
    border-radius: 50px;
    background-color: var(--violet-light);
    color: var(--violet);
    transition: all 0.35s ease;
  }

  .blog-info {
    display: flex;
    flex-wrap: wrap;
    padding: 20px 28px 20px 22px;
  }

  .blog-name {
    flex: 0 0 100%;
    max-width: 100%;
    font-size: 16px;
    color: var(--violet-darker);
    font-weight: 700;
    line-height: 1.5em;
    height: 46px;
    margin-bottom: 8px;
    overflow: hidden;

    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    white-space: unset;

    &:hover {
      text-decoration: underline;
    }
  }

  .blog-des {
    flex: 0 0 100%;
    max-width: 100%;
    color: var(--neutural-dark);
    line-height: 1.5;
    overflow: hidden;
    margin-bottom: 24px;

    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    white-space: unset;
  }

  .blog-date {
    display: inline-flex;
    align-items: center;
    column-gap: 12px;
    line-height: 1.5;
    color: var(--neutural-dark);

    img {
      flex: 0 0 18px;
      max-width: 18px;
    }
  }

  .view-more {
    flex: 1;
    justify-content: flex-end;
    column-gap: 25px;
    font-weight: 700;
    color: var(--violet);
    line-height: 1.5;
    text-align: right;
    margin-left: 20px;

    img {
      flex: 0 0 7px;
      max-width: 7px;
    }
  }
}

.swiper-button-prev {
  left: 0;
  transform: translateX(-50%);

  &:after {
    font-size: 0;
  }
}

.swiper-button-next {
  right: 0;
  transform: translateX(50%);

  &:after {
    font-size: 0;
  }
}

.swiper-circle {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  box-shadow: 0px 0px 12px 0px #D5D5D5;
  background: #fff;
  transition: all 0.35s ease;

  svg path {
    transition: all 0.35s ease;
  }

  &:hover {
    background-color: var(--violet);

    svg path {
      fill: #fff;
    }
  }
}

.form-row {
  display: flex;
  row-gap: 22px;
  column-gap: 28px;
  flex-wrap: wrap;
}

.form-line {
  position: relative;

  flex: 0 0 calc(50% - 14px);
  max-width: calc(50% - 14px);

  label {
    display: block;
    font-size: 12px;
    margin-bottom: 8px;
    color: #000;
    line-height: normal;
  }

  input,
  textarea,
  select {
    font-weight: 500;
    width: 100%;
    border: 1px solid var(--grey-light-ac);
    border-radius: 12px;
    padding: 20px 50px 18px 20px;
    color: #000;
    font-size: 14px;
    line-height: 1.2em;

    &::placeholder {
      color: var(--neutural);
      font-weight: 400;
      font-size: 14px;
    }

    &:focus {
      border: 1px solid #000;
    }
  }

  select {
    appearance: none;
  }

  .input-select {
    label {
      position: absolute;
      top: 6px;
      left: 20px;
      font-size: 10px;
      color: #000;
      text-transform: initial;
    }

    select {
      background: url("../image/icons/select.svg") no-repeat center right 23px;

      option {
        color: #000;
      }
    }
  }

  textarea {
    height: 134px;
    resize: none;
  }
}

.form-line-full {
  max-width: 100%;
  flex: 0 0 100%;

  input {
    accent-color: #000;
  }
}

.title-page {
  font-size: 30px;
  color: var(--violet);
}

//***Responsive***//
@include min-desktop {
  /* width */
  ::-webkit-scrollbar {
    width: 8px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: var(--grey-light);
    border-radius: 8px;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: var(--violet);
    border-radius: 8px;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: var(--violet-darker);
  }
}


@include landscape-phone {
  .pagination-wrap {
    justify-content: center;

    .pagination-text {
      display: none;
    }
  }

  .blog-item {
    .blog-date {
      font-size: 10px;

      img {
        flex: 0 0 16px;
        max-width: 16px;
      }
    }

    .view-more {
      column-gap: 12px;
      font-size: 10px;
    }
  }

  .swiper-circle {
    display: none;
  }
}

@include extra-mobile {
  .block-heading {
    margin-bottom: 27px;

    .title {
      font-size: 18px;
      line-height: 1.2;
    }
  }
  .title-page {
    font-size: 20px;
  }

  .product-item {
    &:hover {
      box-shadow: 0 0 10px 0 rgba(#000, 0.05);
    }
  
    .product-image {
      margin-bottom: 5px;
    }
  
    .product-info {
      padding: 10px;
    }
  
    .product-name {
      margin-bottom: 5px;
    }
  
    .product-price {
      margin-bottom: 10px;
  
      .discount {
        order: 2
      }
    }
  
    .promotion {
      display: none;
    }
  
    .add-cart {
      border-radius: 50%;
      padding: 9px;
      width: 36px;
      height: 36px;

      span {
        display: none;
      }
    }
  
  }

  .blog-item {
    .blog-image {
      aspect-ratio: 1;
    }

    .blog-post {
      top: 10px;
      left: 10px;
      font-size: 10px;
      padding: 2px 12px;
    }

    .blog-info {
      padding: 9px 10px 14px;
    }

    .blog-name {
      order: 2;
      font-size: 12px;
      -webkit-line-clamp: 3;
      height: 54px;
    }

    .view-more {
      order: 2;
    }

    .blog-des {
      margin-bottom: 7px;
      font-size: 10px;
      order: 2;
      -webkit-line-clamp: 4;
    }

    .blog-date {
      order: 1;
      flex: 0 0 100%;
      margin-bottom: 5px;
    }
  }
}

@include mobile {
  .product-item {
    .product-image {
      .tags.pre-order {
        top: 10px;
        left: 10px;
      }

      .favorite {
        top: 10px;
        right: 10px;
      }
    }

    .product-price {
      flex-wrap: wrap;

      .price-current {
        flex: 0 0 100%;
        max-width: 100%;
      }
    }
  }
}

@include small-mobile {
  .form-row {
    .form-line {
      max-width: 100%;
      flex: 0 0 100%;
    }
  }

  .pagination {
    .pagination-btn {
      font-size: 12px;
      line-height: 18px;
      width: 32px;
      height: 32px;
    }
  }
}
